In [7]:
import pandas as pd
from math import radians, cos, sin, asin, sqrt

In [2]:
stops = pd.read_csv('stops.txt')

In [3]:
stops

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
0,15351,Sunbury Railway Station,Sunbury,-37.579091,144.727319
1,15353,Diggers Rest Railway Station,Diggers Rest,-37.627017,144.719922
2,19827,Stony Point Railway Station,Crib Point,-38.374235,145.221837
3,19828,Crib Point Railway Station,Crib Point,-38.366123,145.204043
4,19829,Morradoo Railway Station,Crib Point,-38.354033,145.189602
...,...,...,...,...,...
213,44817,Coolaroo Railway Station,Coolaroo,-37.661003,144.926056
214,45793,Lynbrook Railway Station,Lynbrook,-38.057341,145.249275
215,45794,Cardinia Road Railway Station,Pakenham,-38.071290,145.437791
216,45795,South Morang Railway Station,South Morang,-37.649159,145.067032
217,46468,Williams Landing Railway Station,Williams Landing,-37.869865,144.747445

In [5]:
stops['stop_lon'] = stops['stop_lon'].astype("float") # convert str to float
stops['stop_lat'] = stops['stop_lat'].astype("float")

In [6]:
stops.dtypes

stop_id              int64
stop_name           object
stop_short_name     object
stop_lat           float64
stop_lon           float64
dtype: object

In [8]:
def distance(lon1, lat1, lon2, lat2):
    R = 6378.0 #radius of earth in km
    lon1 = radians(lon1)
    lat1 = radians(lat1) #convert the latitude to radians
     #convert the longitude to radians
    lon2 = radians(lon2)
    lat2 = radians(lat2) 
    

    dlon = lon2 - lon1  # the difference between two points' longitude's radians
    dlat = lat2 - lat1  # the difference betwwen two points' latitude's radians

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2   # Haversine formula
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c #round to two decimals
    return distance

In [10]:
stops.stop_lat[1]

-37.6270165149357